.import-header {
  text-align: center;
}

.input-form {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}

.input-file {
  position: relative;
  display: inline-block;
  border: 1px solid #ddd;
  width: -webkit-fill-available;
}

.input-file-text {
  padding: 0 10px;
  line-height: 40px;
  text-align: left;
  height: 40px;
  display: block;
  float: left;
  border-radius: 6px 0px 0 6px;
}

.input-file-btn {
  width: 40px;
  text-align: center;
  float: right;
  display: inline-block;
  outline: none;
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  height: 40px;
  box-sizing: border-box;
  transition: background-color 0.2s;
}

.upload-btn {
  width: 155px;
  height: auto;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  border-radius: 0 4px 4px 0;
  background-color: #419152;
  line-height: 22px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
}

.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.input-file:hover .input-file-btn {
  background-color: gainsboro;
}

.messages {
  text-align: center;
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
}

.message-text {
  padding: unset;
  margin-bottom: unset;
  padding-left: 10px;
  padding-right: 10px;
}
